{% extends 'layout.html' %}

{% block title %} Node KML {%endblock%}

{% block content %}
<div id="panel">
  <input id="address" type="textbox" value="New York, NY">
  <input type="button" value="Geocode" onclick="codeAddress()">
</div>
<div id="map-canvas"></div>
<button id="queens">Queens</button>
<button id="brooklyn">Brooklyn</button>
{% endblock %}


{% block bottomscript%}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/javascripts/googleMapPolygon.js"></script>
<script src="/javascripts/ajaxBoroughs.js"></script>
{% endblock %}
